body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    display: flex;
    align-items: stretch;
}

.container {
    display: flex;
    align-items: stretch;
}

.sidebar {
    flex: 0 1 35%;
    display: flex;
    align-items: center;
    background-image: url('gfx/sidebar_bg.jpg');
    background-size: cover;
}

.logo {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10rem;
    background-color: #0006;
}

.logo span {
    font-family: 'Rubik Moonrocks', cursive;
    font-size: 5rem;
    color: #fff;
}

.content {
    flex: 2;
    padding: 3rem;
    display: flex;
    align-items: center;
}

.content h3 {
    font-size: 1.6rem;
    font-weight: 300;
}

form > h3 {
    flex: 1 1 100%;
    margin: 40px 0;
}

.inputboxes {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.inputboxes > div {
    display: flex;
    flex-direction: column;
    flex: 0 1 45%;
}

.inputboxes > div > p.errormessage {
    margin: 2px 0 0 0;
    font-size: .9rem;
    color: red;
    /* display: none; */
}

.inputboxes > div > p.active {
    display: block;
}

.inputboxes > div > label {
    margin: 0;
    font-weight: 300;
    font-size: .9rem;
    text-transform: uppercase;
}

.inputboxes > div > input {
    padding: 10px;
    border: #ccc 1px solid;
    border-radius: 5px;
    font-size: 1.2rem;
}

.inputboxes > div > input::placeholder {
    color: #ccc;
}

.inputboxes > div > input:invalid{
    border-color: rgb(189, 0, 0);
}

form > button {
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    color:#fff;
    text-transform: uppercase;
    background-color:rgb(57, 16, 122);
    border-radius: 5px;
    padding: 15px 50px;
    margin: 40px 0;
}

.login {
    margin-top: 3rem;
}

