body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    height: 100%;
    display: flex;
    align-items: center;
}

.sidebar {
    height: 100%;
    flex: 0 1 35%;
    display: flex;
    align-items: center;
    background-image: url('gfx/sidebar_bg.jpg');
    background-size: cover;
}

.logo {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10rem;
    background-color: #0006;
}

.logo span {
    font-family: 'Rubik Moonrocks', cursive;
    font-size: 5rem;
    color: #fff;
}

.content {
    flex: 1;
    padding: 3rem;
}

.content h3 {
    font-size: 1.6rem;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

form>h3 {
    flex: 1 1 100%;
}

form>div {
    display: flex;
    flex-direction: column;
    flex: 0 1 40%;
}

form>div>p {
    margin: 0;
    font-size: .9rem;
    color: red;
}

form>div>label {
    margin: 0;
    font-weight: 700;
    font-size: .9rem;
    text-transform: uppercase;
}

form>div>input {
    padding: 10px;
    border: #ccc 1px solid;
    border-radius: 5px;
    font-size: 1.2rem;
}

